<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
</IfModule>

<FilesMatch “.(eot|otf|ttf|woff|woff2)”>
Header always set Access-Control-Allow-Origin “*”
</FilesMatch>